[submodule "okie-pub"]
	path = okie-pub
	url = https://github.com/bcartmell/okie-pub.git
[submodule "okie-show"]
	path = okie-show
	url = https://github.com/bcartmell/okie-show.git
[submodule "okie-serv"]
	path = okie-serv
	url = https://github.com/bcartmell/okie-serv.git
